@font-face {
    font-family: "roboto-regular";
    src: url("../font/Roboto-Regular.woff") format('woff'),
         url("../font/Roboto-Regular.woff2") format("woff2"),
         url("../font/Roboto-Regular.ttf") format("truetype"),
         url("../font/Roboto-Regular.svg") format("svg"),
         url("../font/Roboto-Regular.eot") format('embedded-opentype'),
         url("../font/Roboto-Regular.otf") format("opentype");
}

html, body {
    margin: 0;
    background-color: #1e1e1f;
    background-repeat: repeat;
    font-family: sans-serif;
}

button:active { /* blame mozilla firefox */
    padding: 0px;
}

a { /* Blame all browsers that need this */
    text-decoration: none;
    color: currentColor;
}

header{
    position: -webkit-sticky; /* Blame safari */
    position: sticky;
    top: 0;
}

.top-bar {
    width: 100%;
    height: 5vh;
    background-color: rgba(255, 255, 255, .10);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* Blame safari */
    -moz-backdrop-filter: blur(15px); /* Blame firefox */
    -ms-backdrop-filter: blur(15px); /* Blame ie */
}

.top-bar-button {
    min-width: 8vw;
    max-height: 10vw;
    height: 5vh;
    outline: none;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 2vmin;
}

.top-bar-favicon {
    width: auto;
    height: 3vh;
    float: left;
    padding: 1vmin;
    border-radius: 50%;
}

.top-bar-button.title {
    float: left;
}

.top-bar-button.title:hover {
    color: cyan;
}

.top-bar-button.title:hover:active {
    color: lightseagreen;
}

.top-bar-button.regular {
    border-bottom: 0.2vmin solid lawngreen;
    float: right;
}

.top-bar-button.regular:hover {
    border-bottom: 0.2vmin solid cyan;
    color: cyan;
}

.top-bar-button.regular:hover:active {
    border-bottom: 0.2vmin solid lightseagreen;
    color: lightseagreen;
}

.top-bar-button.regular.selected {
    border-bottom: 0.2vmin solid lightseagreen;
}

.top-bar-button.regular.selected:hover {
    border-bottom: 0.2vmin solid cyan;
    color: cyan;
}

.top-bar-button.regular.selected:hover:active {
    border-bottom: 0.2vmin solid lightseagreen;
    color: lightseagreen;
}

.wall {
    width: 100%;
    height: 40vh;
    background-image: url("../img/wall.jpg");
    background-repeat: repeat;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.wall-title {
    font-size: 10vmin;
    font-family: "roboto-regular";
}

.wall-subtitle {
    font-size: 3vmin;
    font-family: monospace;
}

.content {
    width: 100%;
    height: 85vh;
}

.content-main {
    margin: auto;
    width: 80vw;
    height: 85vh;
    background-color: #313233;
    border: 2vmin solid #313233;
    color: white;
}

.footer-bar {
    width: 100%;
    height: 10vh;
    color: white;
    text-align: center;
    font-size: 2vmin;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.monospace {
    font-family: monospace;
}
